body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* line-height: 1 */
}

.equation.cell {
  position: relative;
}
.error.cell {
  background: rgba(255, 0, 0, 0.14);
  font-size: 0.8em;
  color: red;
}
.error.cell > div.text {
  text-align: center;
}
.equation.cell:before {
  content: initial;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-style: solid;
  border-width: 6px 6px 0 0;
  border-color: #2185d0 transparent transparent transparent;
  z-index: 2;
}

.row-handle.cell {
  width: 1rem;
}

tbody .row-handle.cell,
thead .cell:not(.row-handle) {
  cursor: move;
}

.data-grid-container table.data-grid tr {
  background: white;
}
.data-grid-container table.data-grid tr:hover {
  background: #efefef !important;
  background-image: url('images/RowHover.gif') !important;
}
.data-grid-container table.data-grid .drop-target,
.data-grid-container table.data-grid thead .cell.read-only.drop-target {
  background: #6f86fc;
  transition: none;
  color: white;
}
.data-grid-container table.data-grid thead .cell.read-only {
  transition: none;
}
.data-grid-container .data-grid .cell {
  vertical-align: middle !important;
  cursor: initial !important;
}
.data-grid-container .data-grid .cell.selected {
  background-color: #dfe8f6 !important;
  background-image: none !important;
  border: 1px dotted #a3bae9 !important;
}
.data-grid-container .data-grid .cell > input {
  outline: none !important;
  border: 1px solid rgb(33, 133, 208) !important;
  text-align: right;
  width: 100% !important;
  height: 100% !important;
  background: none;
  display: block;
}
.data-grid-container .data-grid .cell {
  padding: 3px !important;
  height: 13px !important;
}
.data-grid-container .data-grid .title {
  background-color: #f9f9f9 !important;
  background-image: url('images/WebResource.gif') !important;
  border-left: 1px solid #eee !important;
  border-right: 1px solid #d0d0d0 !important;
}
.data-grid-container .data-grid .title:hover {
  background-color: #ebfefd !important;
  background-image: url('images/HeadHover.gif') !important;
  background-size: contain !important;
}
.data-grid-container .data-grid tr {
  /* border-color: #ddd; */
  background-color: #efefef;
  border-color: #ededed;
  border-top-color: #fff;
}
.data-grid-container .data-grid tr .read-only {
  color: initial !important;
}
.data-grid-container .data-grid tr td {
  border-left: none !important;
  border-right: none !important;
}
.data-grid-container .data-grid .title,
.data-grid-container .data-grid .index {
  color: #333 !important;
}
.data-grid-container .data-grid .index {
  border-right: 1px solid #d0d0d0 !important;
  text-align: right !important;
}
.data-grid-container .data-grid .cell .value-viewer {
  width: 190px !important;
}
.data-grid-container .data-grid .cell.editing {
  padding: 0 !important;
}
.data-grid-container .data-grid tr:nth-child(odd) {
  background: #fafafa !important;
}
.data-grid-container .data-grid .cell:nth-child(2),
.data-grid-container .data-grid .cell:nth-child(3) {
  display: none;
}
.sheet-container{
  overflow-x: scroll;
  margin-left: 623px!important;
  overflow-y: visible;
  padding: 0;
}
.data-grid-container .data-grid .cell:nth-child(4),
.data-grid-container .data-grid .cell:nth-child(5),
.data-grid-container .data-grid .cell:nth-child(6){
  text-align: left;
  position: absolute;
  top: auto;
  width: 197px;
  height: 25px!important;
}
.btn-export{
  position: absolute;
  left: 0;
}
.data-grid-container .data-grid .cell:nth-child(1){
  position: absolute;
  left: 0;
  top: auto;
  width: 33px;
  height: 25px!important;
}
.data-grid-container .data-grid .cell:nth-child(4){
  left: 33px;
}
.data-grid-container .data-grid .cell:nth-child(5){
  left: 230px;
}
.data-grid-container .data-grid .cell:nth-child(6){
  left: 427px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 600px;
  margin: auto;
}
table.data-grid {
  margin: auto;
}
.Select-control,
.Select-input,
.Select-placeholder,
.Select-clear,
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  height: 15px;
  line-height: 12px;
  font-size: 12px;
  text-align: left;
  border-radius: 0;
  border: 0;
}

.Select-control input {
  height: 16px;
  font-size: 12px;
  padding: 0;
}
.sheet-container {
  display: block;
  /* box-shadow: 0px 0px 6px #ccc; */
  margin: auto;
  /* width: 500px; */
  transition: box-shadow 0.5s ease-in;
}
.sheet-container:hover {
  /* transition: box-shadow 0.5s ease-in; */

  /* box-shadow: 0px 0px 1px #ccc; */
}
.sheet-container table.data-grid tr td.cell:not(.selected) {
  border: 1px solid #ededed;
  border-top-color: #fff;
  background: initial;
  color: initial;
}
.sheet-container table.data-grid tr td.cell,
.sheet-container table.data-grid tr th.cell {
  font-size: 12px;
}
div.divider {
  margin: 40px 0px;
  height: 1px;
  width: 100%;
  background-color: #eee;
}
pre {
  display: inline-block;
  background: #333;
  padding: 10px 30px;
  border-left: 2px solid white;
}
.header {
  text-align: center;
  padding: 50px 0px;
  background: #e63946;
  color: #eee;
  margin-bottom: 50px;
}
.footer-container a {
  color: white;
}
.footer-container {
  margin-top: 50px;
  text-align: center;
  padding: 50px 0px;
  background: #e63946;
  color: #eee;
}
.add-grocery {
  text-align: left;
  padding: 5px 10px;
  color: #888;
}
.add-button {
  float: right;
  border-radius: 0;
  background: #ccc;
  border-radius: 2px;
  padding: 2px 20px;
  background: #e63946;
  color: white;
  cursor: pointer;
  font-size: 9px;
}
.add-button:hover {
  background: #f17d86;
}
.github-link {
  display: block;
  width: 200px;
  font-size: 12px;
  text-decoration: none;
  margin: auto;
  color: white;
}
.github-link:hover {
  color: #ddd;
}
